= stylesheet_link_tag 'custom', :media => "all"
.container
  .header
    %ul.nav.nav-pills.pull-right
      %li.active
        %a{:href => bars_path} All Bars
      %li
        %a{:href => new_bar_path} New Bar
    %h3.text-muted All Bars
  .row.marketing
    .container
      %table.table.table-hover
        %thead
          %tr
            %th Name
            %th Rating
            %th People There
            %th Address
        %tbody
        - @bars.each do |bar|
          %tr
            %td
              = link_to bar.name, bar
            %td
              = bar.rating.to_s
            %td
              = bar.current_users.to_s
            %td
              = bar.address
  .footer
    %p © WingMan 2014