= stylesheet_link_tag 'home', :media => "all"
#fb-root
:javascript
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=279563702223379&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
.site-wrapper
  .site-wrapper-inner
    .cover-container
      .masthead.clearfix
        .inner
          %h3.masthead-brand= image_tag('wingman-white.png')
          %ul.nav.masthead-nav
            %li.active
              %a{href: "#"} Home
            %li
              %a{href: "#features"} About
            %li
              %a{href: "#contact"} Subscribe
      .inner.cover
        #main-cover
          %h1.cover-heading Introducing WingMan
          %p.lead Know details about every bar, no matter where you are. Have drinks with friends or get matched with new ones. Turn every night into a memorable one. The night is in your hands.
          %p.lead
            %a.btn.btn-lg.btn-default{href: "#features"} Interested yet?
.background
  #features.container.marketing
    / Main component for a primary marketing message or call to action
    / Three columns of text below the carousel
    .row
      #market1.col-sm-4
        %img.img-circle{alt: "stats", "src" => asset_url('stats.png')}/
        %h2 In The Loop
        %p Through business profiles instantly find out about local entertainment, drink specials, events, and even how busy it is.
      #market2.col-sm-4
        %img.img-circle{alt: "location", "src" => asset_url('location.png')}/
        %h2 Location Preferences
        %p Venues will be suggested to users based on current location and the traveling preferences set.
      / /.col-lg-4
      #market3.col-sm-4
        %img.img-circle{alt: "social", "src" => asset_url('browser.png')}/
        %h2 Stay Connected
        %p Find friends easily with Wingman’s check-in service. Users will be able to openly share their location with friends throughout the night. 
      / /.col-lg-4
    / /.row

.container.quick-slogan
  .row
    .col-lg-12
      %h1.cover-heading.font-anim The Perfect Night Every Night

    / START THE FEATURETTES
.background
  #features.container.marketing
    .row.featurette
      #mock1-text.col-md-7.featurette-text
        %h2.featurette-heading
          It's Not an App.
          %span.text-muted It's a Choice.
        %p.lead Wingman sets out to increase the quality of nightlife as a whole. Wingman’s “Birds of a Feather” feature will allow night goers an opportunity to mix groups, meet new people, have new experiences, and make new friends. Your friends won’t be out tonight? Try making new ones! 
      .col-md-5
        %img#mock1.featurette-image.img-responsive{alt: "mockup 1", "src" => asset_url('wingman1.png')}/
    %hr.featurette-divider/
    .row.featurette
      .col-md-5
        %img#mock2.featurette-image.img-responsive{alt: "mockup 2", "src" => asset_url('iphonelogin.png')}/
      #mock2-text.col-md-7.featurette-text
        %h2.featurette-heading
          Businesses, 
          %span.text-muted Be Heard...
        %p.lead Wingman allows business owners to effectively communicate with their patrons. Typical marketing channels and social networking are very limited for bars and nightclubs. Wingman gives businesses their own personal channel, a direct voice allowing them to speak to those looking for information and create the image they wish to convey. 
#contact.container.quick-slogan.form-container
  .row
    .col-lg-12
      %h2#email-feedback.cover-heading Like WingMan on Facebook to receive exclusive beta access, news on development, and much more.
      %br/
      %center
        .fb-like{"data-action" => "like", "data-href" => "https://www.facebook.com/WM.Nightlife", "data-layout" => "button_count", "data-share" => "true", "data-show-faces" => "true"}
      / = form_for @beta_email, :remote => true, :class => "form-inline", :html => {:'data-type' => 'json'} do |a|
      /   .form-inline
      /     .form-group
      /       = a.text_field :email, :class => "form-control", :placeholder => "Enter Email"
      /     = a.submit "Subscribe", class: "btn btn-default"
.container.footer
  .row
    .col-lg-12
      %center
        %ul.social
          %li
            = link_to image_tag("twitter.png"), "http://twitter.com", :target => "_blank"
          %li
            = link_to image_tag("facebook.png"), "https://www.facebook.com/WM.Nightlife", :target => "_blank"
          %li
            = link_to image_tag("instagram.png"), "http://instagram.com", :target => "_blank"
          %li
            = link_to image_tag("youtube.png"), "http://youtube.com", :target => "_blank"