.body-wrap
.site-wrapper
  .site-wrapper-inner
    .cover-container
      .masthead.clearfix
        .inner
          %h3.masthead-brand= image_tag('wingman-white.png')
          %ul.nav.masthead-nav
            %li.active
              %a{href: "#"} Home
            %li
              %a{href: "#features"} About
            %li
              %a{href: "#contact"} Subscribe
      .inner.cover
        #main-cover
          %h1.cover-heading Introducing WingMan
          %p.lead Always know everything about every bar, nightclub, and tavern. From how busy and what friends are there to the atmosphere and address. The night is in your hands.
          %p.lead
            %a.btn.btn-lg.btn-default{href: "#features"} Interested yet?
.background
  #features.container.marketing
    / Main component for a primary marketing message or call to action
    / Three columns of text below the carousel
    .row
      #market1.col-lg-4
        %img.img-circle{alt: "stats", "src" => asset_url('stats.png')}/
        %h2 Preference Filtering
        %p WingMan personally selects venues based on your preferences, and intentions for the night. Let us know a few things about yourself… Male or female? Sports fan or clubber? Hip-Hop or Hipster? (WingMan doesn’t judge!)
      / /.col-lg-4
      #market2.col-lg-4
        %img.img-circle{alt: "location", "src" => asset_url('location.png')}/
        %h2 Location, Location, Location!
        %p How far are you willing to travel? Whether it’s a couple blocks away… or a couple cities, WingMan only suggests venues based on your traveling preferences. Need directions? Don’t sweat it – WingMan will directly connect you to a mapping service with just a tap of your finger.
      / /.col-lg-4
      #market3.col-lg-4
        %img.img-circle{alt: "social", "src" => asset_url('browser.png')}/
        %h2 Social Savvy
        %p WingMan knows you’re pretty popular on the Internet… and you’re probably not interested in seeing all 1,000+ of your Facebook friend’s locations on your phone… That’s why WingMan has incorporated the revolutionary ability to prioritize your closest friends over acquaintances when mapping their locations. 
      / /.col-lg-4
    / /.row

.container.quick-slogan
  .row
    .col-lg-12
      %h1.cover-heading.font-anim The Perfect Night Every Night

    / START THE FEATURETTES
.background
  #features.container.marketing
    .row.featurette
      #mock1-text.col-md-7.featurette-text
        %h2.featurette-heading
          In the Loop.
          %span.text-muted From the Start.
        %p.lead WingMan connects with your favorite social networking sites to take ‘Facebook stalking’ to a whole new level! …Just kidding… WingMan does, however, map the location of all your closest friends using WingMan’s location services. If a friend checks into a location using WingMan, you'll have the ability to keep tabs on your close friends and all the venues they are currently at! 
      .col-md-5
        %img#mock1.featurette-image.img-responsive{alt: "mockup 1", "src" => asset_url('wingman1.png')}/
    %hr.featurette-divider/
    .row.featurette
      .col-md-5
        %img#mock2.featurette-image.img-responsive{alt: "mockup 2", "src" => asset_url('iphonelogin.png')}/
      #mock2-text.col-md-7.featurette-text
        %h2.featurette-heading
          It’s all about the 
          %span.text-muted Atmosphere...
        %p.lead Sometimes, it’s a little hard to vibe a place out just by reading its name…  “Dirty Dick’s” can mean a WHOLE lot of things. WingMan gets straight to the point. We’ll let you know the theme of the venue, the music it plays, food/drinks it serves, and all of the ratings and opinions provided by the experienced bar-goers in your community. 
#contact.container.quick-slogan.form-container
  .row
    .col-lg-12
      %h2#email-feedback.cover-heading.font-anim Subscribe to get the latest news about WingMan!
      %br/
      = form_for @beta_email, :remote => true, :class => "form-inline", :html => {:'data-type' => 'json'} do |a|
        .form-inline
          .form-group
            = a.text_field :email, :class => "form-control", :placeholder => "Enter Email"
          = a.submit "Subscribe", class: "btn btn-default"
.container.footer
  .row
    .col-lg-12
      %center
        %ul.social
          %li
            = link_to image_tag("twitter.png"), "http://twitter.com", :target => "_blank"
          %li
            = link_to image_tag("facebook.png"), "http://facebook.com", :target => "_blank"
          %li
            = link_to image_tag("instagram.png"), "http://instagram.com", :target => "_blank"
          %li
            = link_to image_tag("youtube.png"), "http://youtube.com", :target => "_blank"
    / /END THE FEATURETTES
    / = form_for(:user, :url => registration_path(:user)) do |f|
    /   .form-horizontal
    /     .form-group
    /       .col-sm-4.control-label= f.label :email
    /       .col-sm-8= f.email_field :email, :class => "form-control"
    /     .form-group
    /       .col-sm-4.control-label= f.label :password
    /       .col-sm-8= f.password_field :password, autocomplete: "off", :class => "form-control"
    /     .form-group
    /       .col-sm-offset-4.col-sm-8
    /         = f.submit "Sign In", class: "formButton btn btn-default"